src/main/resources/schemas/tibco/ePIM2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by WF User (Wells Fargo Home Mortgage Inc.) -->
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Daniel Moore (US FoodService) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema targetNamespace="urn:ePIM2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pim="urn:ePIM2" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="pim">
	<element name="Products">
		<complexType>
			<sequence>
				<element ref="pim:Product" minOccurs="0" maxOccurs="2"/>
			</sequence>
		</complexType>
	</element>
	<element name="Product">
		<complexType>
			<sequence>
				<element ref="pim:Product_Key" minOccurs="0"/>
				<element ref="pim:GDD_Fields" minOccurs="0"/>
				<element ref="pim:Custom_Fields" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Industry" type="string" nillable="true"/>
	<element name="Sales_UOM" type="string" nillable="true"/>
	<element name="Brand_Name" type="string" nillable="true"/>
	<element name="Sub_Brand" type="string" nillable="true"/>
	<element name="Product_Description_Laptop" type="string" nillable="true"/>
	<element name="Description_Additional" type="string" nillable="true"/>
	<element name="UDEX_Category_Code" type="string" nillable="true"/>
	<element name="GTIN" type="string"/>
	<element name="UPC_Type" type="string" nillable="true"/>
	<element name="UPC_Code" type="string" nillable="true"/>
	<element name="Is_UPC_Derivable_From_GTIN" type="string" nillable="true"/>
	<element name="Bar_Code_Type" type="string" nillable="true"/>
	<element name="Is_Reload" type="string" nillable="true"/>
	<element name="Is_Item_A_Consumer_Unit" type="string" nillable="true"/>
	<element name="Is_Item_A_Dispatch_Unit_Shipping" type="string" nillable="true"/>
	<element name="Is_Item_An_Invoice_Unit" type="string" nillable="true"/>
	<element name="Is_Item_An_Orderable_Unit" type="string" nillable="true"/>
	<element name="Catch_Weight_Item" type="string" nillable="true"/>
	<element name="Is_Trade_Item_Marked_As_Recyclable" type="string" nillable="true"/>
	<element name="Manufacturer_Product_Number" type="string" nillable="true"/>
	<element name="Functional_Name" type="string" nillable="true"/>
	<element name="Replaced_Trade_Item_GTIN" type="string" nillable="true"/>
	<element name="Target_Market_Country_Code" type="string"/>
	<element name="Target_Market_Subdivision_Code" type="string" nillable="true"/>
	<element name="Has_Batch_Number" type="string" nillable="true"/>
	<element name="Country_Of_Origin" type="string" nillable="true"/>
	<element name="Delivery_Method_Indicator" type="string" nillable="true"/>
	<element name="Is_Bar_Code_Symbology_Derivable" type="string" nillable="true"/>
	<element name="GPC_Code" type="string" nillable="true"/>
	<element name="GPC_Definition" type="string" nillable="true"/>
	<element name="GPC_Name" type="string" nillable="true"/>
	<element name="GLN_Of_Parties_Receiving_Private_Data" type="string" nillable="true"/>
	<element name="Brand_Owner_Name" type="string" nillable="true"/>
	<element name="GLN_Of_Brand_Owner" type="string" nillable="true"/>
	<element name="GLN_Of_Content_Owner" type="string" nillable="true"/>
	<element name="Name_Of_Information_Provider" type="string" nillable="true"/>
	<element name="GLN_Of_Information_Provider" type="string"/>
	<element name="Manufacturer_Name" type="string" nillable="true"/>
	<element name="GLN_Of_Manufacturer" type="string" nillable="true"/>
	<element name="GLN_Of_Representing_Party" type="string" nillable="true"/>
	<element name="Name_Of_Source_Data_Pool" type="string" nillable="true"/>
	<element name="GLN_Of_Source_Data_Pool" type="string" nillable="true"/>
	<element name="Sales_Pack_Height" type="string" nillable="true"/>
	<element name="Sales_Pack_Width" type="string" nillable="true"/>
	<element name="Sales_Pack_Depth" type="string" nillable="true"/>
	<element name="Linear_Units" type="string" nillable="true"/>
	<element name="Gross_Weight" type="string" nillable="true"/>
	<element name="Net_Weight" type="string" nillable="true"/>
	<element name="Weight_Units" type="string" nillable="true"/>
	<element name="Net_Content" type="string" nillable="true"/>
	<element name="Net_Content_UOM" type="string" nillable="true"/>
	<element name="Volume" type="string" nillable="true"/>
	<element name="Volume_Units" type="string" nillable="true"/>
	<element name="Peg_Horizontal" type="string" nillable="true"/>
	<element name="Peg_Vertical" type="string" nillable="true"/>
	<element name="Size_Code_List_Agency" type="string" nillable="true"/>
	<element name="Size_Code_Value" type="string" nillable="true"/>
	<element name="Color_Code_List_Agency" type="string" nillable="true"/>
	<element name="Color_Code_Value" type="string" nillable="true"/>
	<element name="Color_Description" type="string" nillable="true"/>
	<element name="Stacking_Factor" type="string" nillable="true"/>
	<element name="Stacking_Weight_Maximum" type="string" nillable="true"/>
	<element name="Variant" type="string" nillable="true"/>
	<element name="Packaging_Material_Composition_Quantity" type="string" nillable="true"/>
	<element name="Packaging_Material_Composition_UOM" type="string" nillable="true"/>
	<element name="Descriptive_Size" type="string" nillable="true"/>
	<element name="Diameter" type="string" nillable="true"/>
	<element name="Drained_Weight" type="string" nillable="true"/>
	<element name="Is_Net_Content_Declaration_Indicated" type="string" nillable="true"/>
	<element name="Packaging_Material_Code" type="string" nillable="true"/>
	<element name="Packaging_Material_Code_List_Maintenance_Agency" type="string" nillable="true"/>
	<element name="Packaging_Type_Code" type="string" nillable="true"/>
	<element name="Is_Packaging_Marked_As_Recyclable" type="string" nillable="true"/>
	<element name="Is_Packaging_Marked_Returnable" type="string" nillable="true"/>
	<element name="Is_Packaging_Marked_With_Expiration_Date" type="string" nillable="true"/>
	<element name="Is_Packaging_Marked_With_Green_Dot" type="string" nillable="true"/>
	<element name="Is_Packaging_Marked_With_Ingredients" type="string" nillable="true"/>
	<element name="Packaging_Terms_And_Conditions" type="string" nillable="true"/>
	<element name="Pallet_Terms_And_Conditions" type="string" nillable="true"/>
	<element name="Pallet_Type_Code" type="string" nillable="true"/>
	<element name="Retail_Price_On_Trade_Item" type="string" nillable="true"/>
	<element name="Suggested_Retail_Price" type="string" nillable="true"/>
	<element name="Catalogue_Price" type="string" nillable="true"/>
	<element name="Catalogue_Price_Effective_Start_Date" type="string" nillable="true"/>
	<element name="Catalogue_Price_Effective_End_Date" type="string" nillable="true"/>
	<element name="Coupon_Family_Code" type="string" nillable="true"/>
	<element name="Quantity_Of_Next_Lower_Trade_Item" type="string" nillable="true"/>
	<element name="Trade_Item_Identification_Of_Next_Lower_Trade_Item" type="string" nillable="true"/>
	<element name="Quantity_Of_Children" type="string" nillable="true"/>
	<element name="Quantity_Of_Complete_Layers_Contained_In_A_Trade_Item" type="string" nillable="true"/>
	<element name="Quantity_Of_Inner_Pack" type="string" nillable="true"/>
	<element name="Quantity_Of_Layers_Per_Pallet" type="string" nillable="true"/>
	<element name="Quantity_Of_Next_Level_Trade_Item_Within_Inner_Pack" type="string" nillable="true"/>
	<element name="Quantity_Of_Trade_Items_Contained_In_A_Complete_Layer" type="string" nillable="true"/>
	<element name="Quantity_Of_Trade_Items_Per_Pallet" type="string" nillable="true"/>
	<element name="Quantity_Of_Trade_Items_Per_Pallet_Layer" type="string" nillable="true"/>
	<element name="Total_Quantity_Of_Next_Lower_Level_Trade_Item" type="string" nillable="true"/>
	<element name="Canceled_Date" type="string" nillable="true"/>
	<element name="Discontinued_Date" type="string" nillable="true"/>
	<element name="PIM_Add_Date" type="string" nillable="true"/>
	<element name="End_Availability_Date_Time" type="string" nillable="true"/>
	<element name="Minimum_Trade_Item_Lifespan_From_Time_of_Arrival" type="string" nillable="true"/>
	<element name="Publication_Date" type="string" nillable="true"/>
	<element name="Start_Availabilty_Date_Time" type="string" nillable="true"/>
	<element name="Consumer_Availability_Date_Time" type="string" nillable="true"/>
	<element name="Order_Quantity_Maximum" type="string" nillable="true"/>
	<element name="Order_Quantity_Minimum" type="string" nillable="true"/>
	<element name="Order_Quantity_Multiple" type="string" nillable="true"/>
	<element name="Ordering_Lead_Time" type="string" nillable="true"/>
	<element name="Is_Non_Sold_Trade_Item_Returnable" type="string" nillable="true"/>
	<element name="Product_Description_Customer_Proprietary" type="string" nillable="true"/>
	<element name="Order_Sizing_Factor_UOM" type="string" nillable="true"/>
	<element name="Order_Sizing_Factor" type="string" nillable="true"/>
	<element name="Product_Range" type="string" nillable="true"/>
	<element name="Tax_Agency_Code" type="string" nillable="true"/>
	<element name="Tax_Amount" type="string" nillable="true"/>
	<element name="Tax_Rate" type="string" nillable="true"/>
	<element name="Tax_Type_Code" type="string" nillable="true"/>
	<element name="Tax_Type_Description" type="string" nillable="true"/>
	<element name="Class_Of_Dangerous_Goods" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Indicator" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Packing_Group" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Technical_Name" type="string" nillable="true"/>
	<element name="Material_Safety_Data_Sheet_Number" type="string" nillable="true"/>
	<element name="UN_Dangerous_Goods_Number" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Margin_Number" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Regulation_Code" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Hazardous_Code" type="string" nillable="true"/>
	<element name="Dangerous_Goods_Shipping_Name" type="string" nillable="true"/>
	<element name="Temperature_UOM" type="string" nillable="true"/>
	<element name="Flash_Point_Temperature" type="string" nillable="true"/>
	<element name="Storage_Handling_Temperature_Maximum" type="string" nillable="true"/>
	<element name="Storage_Handling_Temperature_Minimum" type="string" nillable="true"/>
	<element name="Delivery_To_Distribution_Center_Temperature_Maximum" type="string" nillable="true"/>
	<element name="Delivery_To_Distribution_Center_Temperature_Minimum" type="string" nillable="true"/>
	<element name="Delivery_To_Market_Temperature_Maximum" type="string" nillable="true"/>
	<element name="Delivery_To_Market_Temperature_Minimum" type="string" nillable="true"/>
	<element name="Generic_Ingredient" type="string" nillable="true"/>
	<element name="Generic_Ingredient_Strength" type="string" nillable="true"/>
	<element name="Handling_Instructions_Code" type="string" nillable="true"/>
	<element name="Ingredient_Strength" type="string" nillable="true"/>
	<element name="Organic_Claim_Agency" type="string" nillable="true"/>
	<element name="Organic_Claim_Item_Code" type="string" nillable="true"/>
	<element name="Trade_Item_Form_Description" type="string" nillable="true"/>
	<element name="Trade_Item_Group_Identification_Description" type="string" nillable="true"/>
	<element name="Trade_Item_Group_Identification_Code" type="string" nillable="true"/>
	<element name="Selling_UOM_HL" type="string" nillable="true"/>
	<element name="Ordering_UOM_HL" type="string" nillable="true"/>
	<element name="Trade_Item_Finish_Description_HL" type="string" nillable="true"/>
	<element name="Out_Of_Box_Width_HL" type="string" nillable="true"/>
	<element name="Out_Of_Box_Height_HL" type="string" nillable="true"/>
	<element name="Out_Of_Box_Depth_HL" type="string" nillable="true"/>
	<element name="Department_Of_Transportation_Dangerous_Goods_Number_HL" type="string" nillable="true"/>
	<element name="Harmonized_Tariff_System_Identification_Code_HL" type="string" nillable="true"/>
	<element name="Model_Number_HL" type="string" nillable="true"/>
	<element name="Nesting_Increment_HL" type="string" nillable="true"/>
	<element name="Pieces_Per_Trade_Item_HL" type="string" nillable="true"/>
	<element name="Return_Goods_Policy_HL" type="string" nillable="true"/>
	<element name="Security_Tag_Location_HL" type="string" nillable="true"/>
	<element name="Is_Trade_Item_Recalled_HL" type="string" nillable="true"/>
	<element name="URL_For_Warranty_HL" type="string" nillable="true"/>
	<element name="Warranty_Description_HL" type="string" nillable="true"/>
	<element name="ISBN_Number_FMCG" type="string" nillable="true"/>
	<element name="ISSN_Number_FMCG" type="string" nillable="true"/>
	<element name="Is_Ingredient_Irradiated_FMCG" type="string" nillable="true"/>
	<element name="Is_Raw_Material_Irradiated_FMCG" type="string" nillable="true"/>
	<element name="Is_Trade_Item_Genetically_Modified_FMCG" type="string" nillable="true"/>
	<element name="Is_Trade_Item_Irradiated_FMCG" type="string" nillable="true"/>
	<element name="Degree_Of_Original_Wort_FMCG" type="string" nillable="true"/>
	<element name="Fat_Percentage_In_Dry_Matter_FMCG" type="string" nillable="true"/>
	<element name="Percentage_Of_Alcohol_By_Volume_FMCG" type="string" nillable="true"/>
	<element name="FMCG_Identification_Number" type="string" nillable="true"/>
	<element name="FMCG_Identification_Type" type="string" nillable="true"/>
	<element name="Trade_Item_Import_Classification_Type" type="string" nillable="true"/>
	<element name="Trade_Item_Import_Classification_Value" type="string" nillable="true"/>
	<element name="Product_Key">
		<complexType>
			<sequence>
				<element ref="pim:GTIN" minOccurs="0"/>
				<element ref="pim:GLN_Of_Information_Provider" minOccurs="0"/>
				<element ref="pim:Target_Market_Country_Code" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="GDD_Fields">
		<complexType>
			<sequence>
				<element ref="pim:Bar_Code_Type" minOccurs="0"/>
				<element ref="pim:Brand_Name" minOccurs="0"/>
				<element ref="pim:Brand_Type" minOccurs="0"/>
				<element ref="pim:Brand_Owner_Name" minOccurs="0"/>
				<element ref="pim:Canceled_Date" minOccurs="0"/>
				<element ref="pim:Catalogue_Price" minOccurs="0"/>
				<element ref="pim:Catalogue_Price_Effective_End_Date" minOccurs="0"/>
				<element ref="pim:Catalogue_Price_Effective_Start_Date" minOccurs="0"/>
				<element ref="pim:Class_Of_Dangerous_Goods" minOccurs="0"/>
				<element ref="pim:Color_Code_List_Agency" minOccurs="0"/>
				<element ref="pim:Color_Code_Value" minOccurs="0"/>
				<element ref="pim:Color_Description" minOccurs="0"/>
				<element ref="pim:Consumer_Availability_Date_Time" minOccurs="0"/>
				<element ref="pim:Country_Of_Origin" minOccurs="0"/>
				<element ref="pim:Coupon_Family_Code" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Hazardous_Code" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Indicator" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Margin_Number" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Packing_Group" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Regulation_Code" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Shipping_Name" minOccurs="0"/>
				<element ref="pim:Dangerous_Goods_Technical_Name" minOccurs="0"/>
				<element ref="pim:Degree_Of_Original_Wort_FMCG" minOccurs="0"/>
				<element ref="pim:Delivery_Method_Indicator" minOccurs="0"/>
				<element ref="pim:Delivery_To_Distribution_Center_Temperature_Maximum" minOccurs="0"/>
				<element ref="pim:Delivery_To_Distribution_Center_Temperature_Minimum" minOccurs="0"/>
				<element ref="pim:Delivery_To_Market_Temperature_Maximum" minOccurs="0"/>
				<element ref="pim:Delivery_To_Market_Temperature_Minimum" minOccurs="0"/>
				<element ref="pim:Department_Of_Transportation_Dangerous_Goods_Number_HL" minOccurs="0"/>
				<element ref="pim:Description_Additional" minOccurs="0"/>
				<element ref="pim:Descriptive_Size" minOccurs="0"/>
				<element ref="pim:Diameter" minOccurs="0"/>
				<element ref="pim:Discontinued_Date" minOccurs="0"/>
				<element ref="pim:Drained_Weight" minOccurs="0"/>
				<element ref="pim:End_Availability_Date_Time" minOccurs="0"/>
				<element ref="pim:Fat_Percentage_In_Dry_Matter_FMCG" minOccurs="0"/>
				<element ref="pim:Flash_Point_Temperature" minOccurs="0"/>
				<element ref="pim:Functional_Name" minOccurs="0"/>
				<element ref="pim:FMCG_Identification_Number" minOccurs="0"/>
				<element ref="pim:FMCG_Identification_Type" minOccurs="0"/>
				<element ref="pim:Generic_Ingredient" minOccurs="0"/>
				<element ref="pim:Generic_Ingredient_Strength" minOccurs="0"/>
				<element ref="pim:GLN_Of_Brand_Owner" minOccurs="0"/>
				<element ref="pim:GLN_Of_Content_Owner" minOccurs="0"/>
				<element ref="pim:GLN_Of_Manufacturer" minOccurs="0"/>
				<element ref="pim:GLN_Of_Parties_Receiving_Private_Data" minOccurs="0"/>
				<element ref="pim:GLN_Of_Representing_Party" minOccurs="0"/>
				<element ref="pim:GLN_Of_Source_Data_Pool" minOccurs="0"/>
				<element ref="pim:GPC_Code" minOccurs="0"/>
				<element ref="pim:GPC_Definition" minOccurs="0"/>
				<element ref="pim:GPC_Name" minOccurs="0"/>
				<element ref="pim:Gross_Weight" minOccurs="0"/>
				<element ref="pim:Handling_Instructions_Code" minOccurs="0"/>
				<element ref="pim:Harmonized_Tariff_System_Identification_Code_HL" minOccurs="0"/>
				<element ref="pim:Has_Batch_Number" minOccurs="0"/>
				<element ref="pim:Industry" minOccurs="0"/>
				<element ref="pim:Ingredient_Strength" minOccurs="0"/>
				<element ref="pim:Is_Bar_Code_Symbology_Derivable" minOccurs="0"/>
				<element ref="pim:Is_Ingredient_Irradiated_FMCG" minOccurs="0"/>
				<element ref="pim:Is_Item_A_Consumer_Unit" minOccurs="0"/>
				<element ref="pim:Is_Item_A_Dispatch_Unit_Shipping" minOccurs="0"/>
				<element ref="pim:Catch_Weight_Item" minOccurs="0"/>
				<element ref="pim:Is_Item_An_Invoice_Unit" minOccurs="0"/>
				<element ref="pim:Is_Item_An_Orderable_Unit" minOccurs="0"/>
				<element ref="pim:Is_Net_Content_Declaration_Indicated" minOccurs="0"/>
				<element ref="pim:Is_Non_Sold_Trade_Item_Returnable" minOccurs="0"/>
				<element ref="pim:Is_Packaging_Marked_As_Recyclable" minOccurs="0"/>
				<element ref="pim:Is_Packaging_Marked_Returnable" minOccurs="0"/>
				<element ref="pim:Is_Packaging_Marked_With_Expiration_Date" minOccurs="0"/>
				<element ref="pim:Is_Packaging_Marked_With_Green_Dot" minOccurs="0"/>
				<element ref="pim:Is_Packaging_Marked_With_Ingredients" minOccurs="0"/>
				<element ref="pim:Is_Raw_Material_Irradiated_FMCG" minOccurs="0"/>
				<element ref="pim:Is_Reload" minOccurs="0"/>
				<element ref="pim:Is_Trade_Item_Genetically_Modified_FMCG" minOccurs="0"/>
				<element ref="pim:Is_Trade_Item_Irradiated_FMCG" minOccurs="0"/>
				<element ref="pim:Is_Trade_Item_Marked_As_Recyclable" minOccurs="0"/>
				<element ref="pim:Is_Trade_Item_Recalled_HL" minOccurs="0"/>
				<element ref="pim:Is_UPC_Derivable_From_GTIN" minOccurs="0"/>
				<element ref="pim:ISBN_Number_FMCG" minOccurs="0"/>
				<element ref="pim:ISSN_Number_FMCG" minOccurs="0"/>
				<element ref="pim:Linear_Units" minOccurs="0"/>
				<element ref="pim:Manufacturer_Product_Number" minOccurs="0"/>
				<element ref="pim:Material_Safety_Data_Sheet_Number" minOccurs="0"/>
				<element ref="pim:Minimum_Trade_Item_Lifespan_From_Time_of_Arrival" minOccurs="0"/>
				<element ref="pim:Model_Number_HL" minOccurs="0"/>
				<element ref="pim:Name_Of_Information_Provider" minOccurs="0"/>
				<element ref="pim:Manufacturer_Name" minOccurs="0"/>
				<element ref="pim:Name_Of_Source_Data_Pool" minOccurs="0"/>
				<element ref="pim:Nesting_Increment_HL" minOccurs="0"/>
				<element ref="pim:Net_Content" minOccurs="0"/>
				<element ref="pim:Net_Content_UOM" minOccurs="0"/>
				<element ref="pim:Net_Weight" minOccurs="0"/>
				<element ref="pim:Order_Quantity_Maximum" minOccurs="0"/>
				<element ref="pim:Order_Quantity_Minimum" minOccurs="0"/>
				<element ref="pim:Order_Quantity_Multiple" minOccurs="0"/>
				<element ref="pim:Order_Sizing_Factor" minOccurs="0"/>
				<element ref="pim:Order_Sizing_Factor_UOM" minOccurs="0"/>
				<element ref="pim:Ordering_Lead_Time" minOccurs="0"/>
				<element ref="pim:Ordering_UOM_HL" minOccurs="0"/>
				<element ref="pim:Organic_Claim_Agency" minOccurs="0"/>
				<element ref="pim:Organic_Claim_Item_Code" minOccurs="0"/>
				<element ref="pim:Out_Of_Box_Depth_HL" minOccurs="0"/>
				<element ref="pim:Out_Of_Box_Height_HL" minOccurs="0"/>
				<element ref="pim:Out_Of_Box_Width_HL" minOccurs="0"/>
				<element ref="pim:Packaging_Material_Code" minOccurs="0"/>
				<element ref="pim:Packaging_Material_Code_List_Maintenance_Agency" minOccurs="0"/>
				<element ref="pim:Packaging_Material_Composition_Quantity" minOccurs="0"/>
				<element ref="pim:Packaging_Material_Composition_UOM" minOccurs="0"/>
				<element ref="pim:Packaging_Terms_And_Conditions" minOccurs="0"/>
				<element ref="pim:Packaging_Type_Code" minOccurs="0"/>
				<element ref="pim:Pallet_Terms_And_Conditions" minOccurs="0"/>
				<element ref="pim:Pallet_Type_Code" minOccurs="0"/>
				<element ref="pim:Peg_Horizontal" minOccurs="0"/>
				<element ref="pim:Peg_Vertical" minOccurs="0"/>
				<element ref="pim:Percentage_Of_Alcohol_By_Volume_FMCG" minOccurs="0"/>
				<element ref="pim:Pieces_Per_Trade_Item_HL" minOccurs="0"/>
				<element ref="pim:PIM_Add_Date" minOccurs="0"/>
				<element ref="pim:Product_Description_Customer_Proprietary" minOccurs="0"/>
				<element ref="pim:Product_Description_Laptop" minOccurs="0"/>
				<element ref="pim:Product_Range" minOccurs="0"/>
				<element ref="pim:Publication_Date" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Children" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Complete_Layers_Contained_In_A_Trade_Item" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Inner_Pack" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Layers_Per_Pallet" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Next_Level_Trade_Item_Within_Inner_Pack" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Next_Lower_Trade_Item" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Trade_Items_Contained_In_A_Complete_Layer" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Trade_Items_Per_Pallet" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Trade_Items_Per_Pallet_Layer" minOccurs="0"/>
				<element ref="pim:Replaced_Trade_Item_GTIN" minOccurs="0"/>
				<element ref="pim:Retail_Price_On_Trade_Item" minOccurs="0"/>
				<element ref="pim:Return_Goods_Policy_HL" minOccurs="0"/>
				<element ref="pim:Sales_Pack_Depth" minOccurs="0"/>
				<element ref="pim:Sales_Pack_Height" minOccurs="0"/>
				<element ref="pim:Sales_Pack_Width" minOccurs="0"/>
				<element ref="pim:Security_Tag_Location_HL" minOccurs="0"/>
				<element ref="pim:Selling_UOM_HL" minOccurs="0"/>
				<element ref="pim:Size_Code_List_Agency" minOccurs="0"/>
				<element ref="pim:Size_Code_Value" minOccurs="0"/>
				<element ref="pim:Stacking_Factor" minOccurs="0"/>
				<element ref="pim:Stacking_Weight_Maximum" minOccurs="0"/>
				<element ref="pim:Start_Availabilty_Date_Time" minOccurs="0"/>
				<element ref="pim:Storage_Handling_Temperature_Minimum" minOccurs="0"/>
				<element ref="pim:Storage_Handling_Temperature_Maximum" minOccurs="0"/>
				<element ref="pim:Sub_Brand" minOccurs="0"/>
				<element ref="pim:Suggested_Retail_Price" minOccurs="0"/>
				<element ref="pim:Target_Market_Subdivision_Code" minOccurs="0"/>
				<element ref="pim:Tax_Agency_Code" minOccurs="0"/>
				<element ref="pim:Tax_Amount" minOccurs="0"/>
				<element ref="pim:Tax_Rate" minOccurs="0"/>
				<element ref="pim:Tax_Type_Code" minOccurs="0"/>
				<element ref="pim:Tax_Type_Description" minOccurs="0"/>
				<element ref="pim:Temperature_UOM" minOccurs="0"/>
				<element ref="pim:Total_Quantity_Of_Next_Lower_Level_Trade_Item" minOccurs="0"/>
				<element ref="pim:Trade_Item_Finish_Description_HL" minOccurs="0"/>
				<element ref="pim:Trade_Item_Form_Description" minOccurs="0"/>
				<element ref="pim:Trade_Item_Group_Identification_Code" minOccurs="0"/>
				<element ref="pim:Trade_Item_Group_Identification_Description" minOccurs="0"/>
				<element ref="pim:Trade_Item_Identification_Of_Next_Lower_Trade_Item" minOccurs="0"/>
				<element ref="pim:Trade_Item_Import_Classification_Type" minOccurs="0"/>
				<element ref="pim:Trade_Item_Import_Classification_Value" minOccurs="0"/>
				<element ref="pim:Sales_UOM" minOccurs="0"/>
				<element ref="pim:UDEX_Category_Code" minOccurs="0"/>
				<element ref="pim:UN_Dangerous_Goods_Number" minOccurs="0"/>
				<element ref="pim:UPC_Code" minOccurs="0"/>
				<element ref="pim:UPC_Type" minOccurs="0"/>
				<element ref="pim:URL_For_Warranty_HL" minOccurs="0"/>
				<element ref="pim:Variant" minOccurs="0"/>
				<element ref="pim:Volume" minOccurs="0"/>
				<element ref="pim:Volume_Units" minOccurs="0"/>
				<element ref="pim:Warranty_Description_HL" minOccurs="0"/>
				<element ref="pim:Weight_Units" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Custom_Fields">
		<complexType>
			<sequence>
				<element ref="pim:Alert_Notice_Days" minOccurs="0"/>
				<element ref="pim:Alcohol" minOccurs="0"/>
				<element ref="pim:Alcohol_UOM" minOccurs="0"/>
				<element ref="pim:Ash" minOccurs="0"/>
				<element ref="pim:Ash_UOM" minOccurs="0"/>
				<element ref="pim:Approved_Manufacturers" minOccurs="0"/>
				<element ref="pim:ASYS_Product_Group" minOccurs="0"/>
				<element ref="pim:Attribute_Type_1" minOccurs="0"/>
				<element ref="pim:Attribute_Type_10" minOccurs="0"/>
				<element ref="pim:Attribute_Type_2" minOccurs="0"/>
				<element ref="pim:Attribute_Type_3" minOccurs="0"/>
				<element ref="pim:Attribute_Type_4" minOccurs="0"/>
				<element ref="pim:Attribute_Type_5" minOccurs="0"/>
				<element ref="pim:Attribute_Type_6" minOccurs="0"/>
				<element ref="pim:Attribute_Type_7" minOccurs="0"/>
				<element ref="pim:Attribute_Type_8" minOccurs="0"/>
				<element ref="pim:Attribute_Type_9" minOccurs="0"/>
				<element ref="pim:Attribute_Value_1" minOccurs="0"/>
				<element ref="pim:Attribute_Value_10" minOccurs="0"/>
				<element ref="pim:Attribute_Value_2" minOccurs="0"/>
				<element ref="pim:Attribute_Value_3" minOccurs="0"/>
				<element ref="pim:Attribute_Value_4" minOccurs="0"/>
				<element ref="pim:Attribute_Value_5" minOccurs="0"/>
				<element ref="pim:Attribute_Value_6" minOccurs="0"/>
				<element ref="pim:Attribute_Value_7" minOccurs="0"/>
				<element ref="pim:Attribute_Value_8" minOccurs="0"/>
				<element ref="pim:Attribute_Value_9" minOccurs="0"/>
				<element ref="pim:Attribute_Value_Add_Type_1" minOccurs="0"/>
				<element ref="pim:Attribute_Value_Add_Type_2" minOccurs="0"/>
				<element ref="pim:Attribute_Value_Add_Value_1" minOccurs="0"/>
				<element ref="pim:Attribute_Value_Add_Value_2" minOccurs="0"/>
				<element ref="pim:Beef_Grade" minOccurs="0"/>
				<element ref="pim:Bill_Of_Lading_Code" minOccurs="0"/>
				<element ref="pim:Biotin" minOccurs="0"/>
				<element ref="pim:Biotin_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Biotin_UOM" minOccurs="0"/>
				<element ref="pim:Calcium" minOccurs="0"/>
				<element ref="pim:Calcium_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Calcium_UOM" minOccurs="0"/>
				<element ref="pim:Calories" minOccurs="0"/>
				<element ref="pim:Calories_Fat_UOM" minOccurs="0"/>
				<element ref="pim:Calories_from_fat" minOccurs="0"/>
				<element ref="pim:Calories_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Calories_UOM" minOccurs="0"/>
				<element ref="pim:Carbohydrates" minOccurs="0"/>
				<element ref="pim:Carbohydrates_Other" minOccurs="0"/>
				<element ref="pim:Carbohydrates_Other_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Carbohydrates_Other_UOM" minOccurs="0"/>
				<element ref="pim:Carbohydrates_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Carbohydrates_UOM" minOccurs="0"/>
				<element ref="pim:Case_Image" minOccurs="0"/>
				<element ref="pim:Certified_Angus_Beef_CAB" minOccurs="0"/>
				<element ref="pim:Child_Nutrition_Certificate" minOccurs="0"/>
				<element ref="pim:Child_Nutrition_Certification" minOccurs="0"/>
				<element ref="pim:Child_Nutrition_Certification_Number" minOccurs="0"/>
				<element ref="pim:Cholesterol" minOccurs="0"/>
				<element ref="pim:Cholesterol_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Cholesterol_UOM" minOccurs="0"/>
				<element ref="pim:Commodity_Product_Indicator" minOccurs="0"/>
				<element ref="pim:Composite_Image" minOccurs="0"/>
				<element ref="pim:Copper" minOccurs="0"/>
				<element ref="pim:Copper_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Copper_UOM" minOccurs="0"/>
				<element ref="pim:Derived_ASYS_Brand_Name" minOccurs="0"/>
				<element ref="pim:Derived_PSYS_Brand_Name" minOccurs="0"/>
				<element ref="pim:Dietary_Fiber" minOccurs="0"/>
				<element ref="pim:Dietary_Fiber_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Dietary_Fiber_UOM" minOccurs="0"/>
				<element ref="pim:Edible_Percent" minOccurs="0"/>
				<element ref="pim:Energy" minOccurs="0"/>
				<element ref="pim:Energy_UOM" minOccurs="0"/>
				<element ref="pim:Expiration_Code_Basis" minOccurs="0"/>
				<element ref="pim:Folate" minOccurs="0"/>
				<element ref="pim:Folate_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Folate_UOM" minOccurs="0"/>
				<element ref="pim:Footnote_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Ground_Transportation_Hazard_Code" minOccurs="0"/>
				<element ref="pim:Handling_Instructions_Text" minOccurs="0"/>
				<element ref="pim:Hazardous_Agency_Indicator" minOccurs="0"/>
				<element ref="pim:Hazardous_Class_Description" minOccurs="0"/>
				<element ref="pim:Hazardous_Goods_Sub_Class" minOccurs="0"/>
				<element ref="pim:Hazardous_OSHA_Class_Code" minOccurs="0"/>
				<element ref="pim:Hazardous_Product_DOT_Exception" minOccurs="0"/>
				<element ref="pim:Hazardous_Reportable_Quantity_Indicator" minOccurs="0"/>
				<element ref="pim:Hazardous_Response_Guide" minOccurs="0"/>
				<element ref="pim:Hazardous_UOM" minOccurs="0"/>
				<element ref="pim:Hazmat_Questioner" minOccurs="0"/>
				<element ref="pim:Headquarters_Family_Group" minOccurs="0"/>
				<element ref="pim:IFDA_Class" minOccurs="0"/>
				<element ref="pim:IFDA_Manufacturer_ID" minOccurs="0"/>
				<element ref="pim:IFDA_Manufacturer_Product_Number" minOccurs="0"/>
				<element ref="pim:Image_Availability_Indicator" minOccurs="0"/>
				<element ref="pim:Ingredients" minOccurs="0"/>
				<element ref="pim:Inner_Pack_Quantity" minOccurs="0"/>
				<element ref="pim:Iodine" minOccurs="0"/>
				<element ref="pim:Iodine_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Iodine_UOM" minOccurs="0"/>
				<element ref="pim:Iron" minOccurs="0"/>
				<element ref="pim:Iron_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Iron_UOM" minOccurs="0"/>
				<element ref="pim:Insoluble_Fiber" minOccurs="0"/>
				<element ref="pim:Insoluble_Fiber_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Insoluble_Fiber_UOM" minOccurs="0"/>
				<element ref="pim:Item_Image" minOccurs="0"/>
				<element ref="pim:Kosher_Certificate" minOccurs="0"/>
				<element ref="pim:Kosher_Certification_Number" minOccurs="0"/>
				<element ref="pim:Kosher_Expiration_Date" minOccurs="0"/>
				<element ref="pim:Kosher_Indicator" minOccurs="0"/>
				<element ref="pim:Kosherorganization" minOccurs="0"/>
				<element ref="pim:Juicepct" minOccurs="0"/>
				<element ref="pim:Last_update_date" minOccurs="0"/>
				<element ref="pim:Lowest_Level_Product_Hierarchy_Derived_Pack_Size" minOccurs="0"/>
				<element ref="pim:Magnesium" minOccurs="0"/>
				<element ref="pim:Magnesium_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Magnesium_UOM" minOccurs="0"/>
				<element ref="pim:Manufacturer_HI" minOccurs="0"/>
				<element ref="pim:Manufacturer_Minority_Code" minOccurs="0"/>
				<element ref="pim:Manufacturer_Minority_Code_Description" minOccurs="0"/>
				<element ref="pim:Manufacturer_Number" minOccurs="0"/>
				<element ref="pim:Manufacturer_TI" minOccurs="0"/>
				<element ref="pim:Marketing_Image" minOccurs="0"/>
				<element ref="pim:Master_Pack_Quantity" minOccurs="0"/>
				<element ref="pim:Material_Safety_Data_Sheet" minOccurs="0"/>
				<element ref="pim:Meat_Buyers_Guide_Number" minOccurs="0"/>
				<element ref="pim:Moisture_Loss" minOccurs="0"/>
				<element ref="pim:Modification_Type" minOccurs="0"/>
				<element ref="pim:Monunsaturated_Fat" minOccurs="0"/>
				<element ref="pim:Monunsaturated_Fat_UOM" minOccurs="0"/>
				<element ref="pim:Monunsaturated_Fat_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Niacin" minOccurs="0"/>
				<element ref="pim:Niacin_Equivalent" minOccurs="0"/>
				<element ref="pim:Niacin_Equivalent_UOM" minOccurs="0"/>
				<element ref="pim:Niacin_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Niacin_UOM" minOccurs="0"/>
				<element ref="pim:Nutritional_Update_Date" minOccurs="0"/>
				<element ref="pim:Omega_3_Acids" minOccurs="0"/>
				<element ref="pim:Omega_6_Acids" minOccurs="0"/>
				<element ref="pim:Omega_3_UOM" minOccurs="0"/>
				<element ref="pim:Omega_6_UOM" minOccurs="0"/>
				<element ref="pim:Organic" minOccurs="0"/>
				<element ref="pim:Organic_Acids" minOccurs="0"/>
				<element ref="pim:Organic_Acids_UOM" minOccurs="0"/>
				<element ref="pim:Operator_Comments" minOccurs="0"/>
				<element ref="pim:Pantothenic_Acid" minOccurs="0"/>
				<element ref="pim:Pantothenic_Acid_UOM" minOccurs="0"/>
				<element ref="pim:Pantothenic_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Phosphorous" minOccurs="0"/>
				<element ref="pim:Phosphorous_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Phosphorous_UOM" minOccurs="0"/>
				<element ref="pim:Picture_Path" minOccurs="0"/>
				<element ref="pim:PIM_Category_ID" minOccurs="0"/>
				<element ref="pim:PIM_Class_ID" minOccurs="0"/>
				<element ref="pim:PIM_Group_Description" minOccurs="0"/>
				<element ref="pim:PIM_Group_ID" minOccurs="0"/>
				<element ref="pim:PIM_Group_Keywords" minOccurs="0"/>
				<element ref="pim:PIM_Super_Class_ID" minOccurs="0"/>
				<element ref="pim:Product_Master_Number" minOccurs="0"/>
				<element ref="pim:Protein" minOccurs="0"/>
				<element ref="pim:Polyunsaturated_Fat" minOccurs="0"/>
				<element ref="pim:Polyunsaturated_Fat_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Polyunsaturated_Fat_UOM" minOccurs="0"/>
				<element ref="pim:Potassium" minOccurs="0"/>
				<element ref="pim:Potassium_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Potassium_UOM" minOccurs="0"/>
				<element ref="pim:Preparation_Instructions" minOccurs="0"/>
				<element ref="pim:Product_Code_On_BOL" minOccurs="0"/>
				<element ref="pim:Product_Code_Printing" minOccurs="0"/>
				<element ref="pim:Product_Code_Type" minOccurs="0"/>
				<element ref="pim:Product_Description_Psys_Mainframe" minOccurs="0"/>
				<element ref="pim:Cash_and_Carry_Eligible" minOccurs="0"/>
				<element ref="pim:Retail_UPC" minOccurs="0"/>
				<element ref="pim:Product_Description_USF" minOccurs="0"/>
				<element ref="pim:Product_Segmentation_Effective_Date" minOccurs="0"/>
				<element ref="pim:Product_Segmentation_Level_One" minOccurs="0"/>
				<element ref="pim:Product_Segmentation_Level_Three" minOccurs="0"/>
				<element ref="pim:Product_Segmentation_Level_Two" minOccurs="0"/>
				<element ref="pim:Product_Status" minOccurs="0"/>
				<element ref="pim:Product_update_Indicator" minOccurs="0"/>
				<element ref="pim:Protein_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Protein_UOM" minOccurs="0"/>
				<element ref="pim:Psys_Product_Category" minOccurs="0"/>
				<element ref="pim:Purchasing_Conversion_Factor" minOccurs="0"/>
				<element ref="pim:Purchase_Pack_Depth" minOccurs="0"/>
				<element ref="pim:Purchase_Pack_Height" minOccurs="0"/>
				<element ref="pim:Purchasing_Pack_Size_Description" minOccurs="0"/>
				<element ref="pim:Purchase_Pack_UOM" minOccurs="0"/>
				<element ref="pim:Purchase_Pack_Width" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Portions" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Portions_UOM" minOccurs="0"/>
				<element ref="pim:Quantity_Of_Second_Level_Inner_Pack" minOccurs="0"/>
				<element ref="pim:Ready_To_Eat_Product_Indicator" minOccurs="0"/>
				<element ref="pim:Ready_To_Eat_Temperature_Check_Required_Indicator" minOccurs="0"/>
				<element ref="pim:Recommended_Serving_Size" minOccurs="0"/>
				<element ref="pim:Recommended_Serving_Size_UOM" minOccurs="0"/>
				<element ref="pim:Replaced_By" minOccurs="0"/>
				<element ref="pim:Replacement_USF_Product_Number" minOccurs="0"/>
				<element ref="pim:Retherm" minOccurs="0"/>
				<element ref="pim:Riboflavin" minOccurs="0"/>
				<element ref="pim:Riboflavin_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Riboflavin_UOM" minOccurs="0"/>
				<element ref="pim:Sales_Pack_Size_Long" minOccurs="0"/>
				<element ref="pim:Sales_Pack_Size_Short" minOccurs="0"/>
				<element ref="pim:Saturated_Fat" minOccurs="0"/>
				<element ref="pim:Saturated_Fat_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Saturated_Fat_UOM" minOccurs="0"/>
				<element ref="pim:Servings_Per_Trade_Item" minOccurs="0"/>
				<element ref="pim:Serving_size" minOccurs="0"/>
				<element ref="pim:Serving_size_type" minOccurs="0"/>
				<element ref="pim:Serving_size_UOM" minOccurs="0"/>
				<element ref="pim:Serving_Suggestions" minOccurs="0"/>
				<element ref="pim:Shelf_Life" minOccurs="0"/>
				<element ref="pim:Shelf_Life_UOM" minOccurs="0"/>
				<element ref="pim:Smallest_Sales_Pack_Quantity" minOccurs="0"/>
				<element ref="pim:Smallest_Sales_Pack_USF_Product_Number" minOccurs="0"/>
				<element ref="pim:Smallest_Sales_Pack_Unit" minOccurs="0"/>
				<element ref="pim:Sodium" minOccurs="0"/>
				<element ref="pim:Sodium_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Sodium_UOM" minOccurs="0"/>
				<element ref="pim:Soluble_Fiber" minOccurs="0"/>
				<element ref="pim:Soluble_Fiber_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Soluble_Fiber_UOM" minOccurs="0"/>
				<element ref="pim:Source_USF_Standard_Product_Code" minOccurs="0"/>
				<element ref="pim:Spec_Sheet" minOccurs="0"/>
				<element ref="pim:Star_Category_Intermediate" minOccurs="0"/>
				<element ref="pim:Star_Category_Major" minOccurs="0"/>
				<element ref="pim:Storage_Code" minOccurs="0"/>
				<element ref="pim:Storage_Code_Description" minOccurs="0"/>
				<element ref="pim:Sugar_Alcohol" minOccurs="0"/>
				<element ref="pim:Sugar_Alcohol_UOM" minOccurs="0"/>
				<element ref="pim:Sugar_Alcohol_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Sustainability" minOccurs="0"/>
				<element ref="pim:Thiamin" minOccurs="0"/>
				<element ref="pim:Thiamin_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Thiamin_UOM" minOccurs="0"/>
				<element ref="pim:Total_Fat" minOccurs="0"/>
				<element ref="pim:Total_Fat_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Total_Fat_UOM" minOccurs="0"/>
				<element ref="pim:Total_Sugar" minOccurs="0"/>
				<element ref="pim:Total_Sugar_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Total_Sugar_UOM" minOccurs="0"/>
				<element ref="pim:Trade_Item_Identification_Type" minOccurs="0"/>
				<element ref="pim:Trade_Item_Volume_From_Vendor" minOccurs="0"/>
				<element ref="pim:Trans_fat_UOM" minOccurs="0"/>
				<element ref="pim:Trans_Fat_Free_Indicator" minOccurs="0"/>
				<element ref="pim:Trans_fatty_acids" minOccurs="0"/>
				<element ref="pim:USA_Est_Id_Num" minOccurs="0"/>
				<element ref="pim:USF_Dangerous_Goods_Code" minOccurs="0"/>
				<element ref="pim:USF_Net_Content" minOccurs="0"/>
				<element ref="pim:USF_Product_Number" minOccurs="0"/>
				<element ref="pim:Vendor_Discontinued_Date" minOccurs="0"/>
				<element ref="pim:Vendor_Ethnicity_Code" minOccurs="0"/>
				<element ref="pim:Vendor_Small_Business_Indicator" minOccurs="0"/>
				<element ref="pim:Vendor_Specified_Maximum_Stackable_Pallets" minOccurs="0"/>
				<element ref="pim:Vendor_Specified_Maximum_Stackable_Tiers" minOccurs="0"/>
				<element ref="pim:Vendor_Specified_Pallet_Size" minOccurs="0"/>
				<element ref="pim:Vitamin_A_IU" minOccurs="0"/>
				<element ref="pim:Vitamin_A_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_A_IU_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_A_RE" minOccurs="0"/>
				<element ref="pim:Vitamin_B12" minOccurs="0"/>
				<element ref="pim:Vitamin_B12_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_B12_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_B6" minOccurs="0"/>
				<element ref="pim:Vitamin_B6_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_B6_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_Beta_Carotene" minOccurs="0"/>
				<element ref="pim:Vitamin_Beta_Carotene_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_C_Quantity" minOccurs="0"/>
				<element ref="pim:Vitamin_C_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_C_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_D" minOccurs="0"/>
				<element ref="pim:Vitamin_D_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_D_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_E" minOccurs="0"/>
				<element ref="pim:Vitamin_E_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_E_UOM" minOccurs="0"/>
				<element ref="pim:Vitamin_K" minOccurs="0"/>
				<element ref="pim:Vitamin_K_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Vitamin_K_UOM" minOccurs="0"/>
				<element ref="pim:Water" minOccurs="0"/>
				<element ref="pim:Weight_Density" minOccurs="0"/>
				<element ref="pim:Water_Pct" minOccurs="0"/>
				<element ref="pim:Water_UOM" minOccurs="0"/>
				<element ref="pim:Zinc" minOccurs="0"/>
				<element ref="pim:Zinc_RDV_Percentage" minOccurs="0"/>
				<element ref="pim:Zinc_UOM" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Product_Master_Number" type="string" nillable="true"/>
	<element name="Sales_Pack_Size_Long" type="string" nillable="true"/>
	<element name="Product_Description_USF" type="string" nillable="true"/>
	<element name="Purchase_Pack_UOM" type="string" nillable="true"/>
	<element name="Purchasing_Conversion_Factor" type="string" nillable="true"/>
	<element name="Purchasing_Pack_Size_Description" type="string" nillable="true"/>
	<element name="Storage_Code" type="string" nillable="true"/>
	<element name="Shelf_Life" type="string" nillable="true"/>
	<element name="Alert_Notice_Days" type="string" nillable="true"/>
	<element name="ASYS_Product_Group" type="string" nillable="true"/>
	<element name="Purchase_Pack_Depth" type="string" nillable="true"/>
	<element name="Purchase_Pack_Width" type="string" nillable="true"/>
	<element name="Purchase_Pack_Height" type="string" nillable="true"/>
	<element name="Trade_Item_Volume_From_Vendor" type="string" nillable="true"/>
	<element name="Smallest_Sales_Pack_Unit" type="string" nillable="true"/>
	<element name="Lowest_Level_Product_Hierarchy_Derived_Pack_Size" type="string" nillable="true"/>
	<element name="Smallest_Sales_Pack_USF_Product_Number" type="string" nillable="true"/>
	<element name="Smallest_Sales_Pack_Quantity" type="string" nillable="true"/>
	<element name="Expiration_Code_Basis" type="string" nillable="true"/>
	<element name="Vendor_Specified_Pallet_Size" type="string" nillable="true"/>
	<element name="Manufacturer_TI" type="string" nillable="true"/>
	<element name="Manufacturer_HI" type="string" nillable="true"/>
	<element name="Vendor_Specified_Maximum_Stackable_Tiers" type="string" nillable="true"/>
	<element name="Vendor_Specified_Maximum_Stackable_Pallets" type="string" nillable="true"/>
	<element name="Ready_To_Eat_Product_Indicator" type="string" nillable="true"/>
	<element name="Ready_To_Eat_Temperature_Check_Required_Indicator" type="string" nillable="true"/>
	<element name="Recommended_Serving_Size" type="string" nillable="true"/>
	<element name="Hazardous_Agency_Indicator" type="string" nillable="true"/>
	<element name="Hazardous_OSHA_Class_Code" type="string" nillable="true"/>
	<element name="Hazardous_Response_Guide" type="string" nillable="true"/>
	<element name="Hazardous_UOM" type="string" nillable="true"/>
	<element name="Sales_Pack_Size_Short" type="string" nillable="true"/>
	<element name="Product_Description_Psys_Mainframe" type="string" nillable="true"/>
	<element name="Commodity_Product_Indicator" type="string" nillable="true"/>
	<element name="Hazardous_Product_DOT_Exception" type="string" nillable="true"/>
	<element name="IFDA_Manufacturer_ID" type="string" nillable="true"/>
	<element name="IFDA_Manufacturer_Product_Number" type="string" nillable="true"/>
	<element name="Image_Availability_Indicator" type="string" nillable="true"/>
	<element name="Trade_Item_Identification_Type" type="string" nillable="true"/>
	<element name="USF_Product_Number" type="string" nillable="true"/>
	<element name="Source_USF_Standard_Product_Code" type="string" nillable="true"/>
	<element name="Handling_Instructions_Text" type="string" nillable="true"/>
	<element name="Kosher_Indicator" type="string" nillable="true"/>
	<element name="Kosher_Expiration_Date" type="string" nillable="true"/>
	<element name="IFDA_Class" type="string" nillable="true"/>
	<element name="Operator_Comments" type="string" nillable="true"/>
	<element name="Ingredients" type="string" nillable="true"/>
	<element name="Preparation_Instructions" type="string" nillable="true"/>
	<element name="Product_Code_On_BOL" type="string" nillable="true"/>
	<element name="Product_Code_Printing" type="string" nillable="true"/>
	<element name="Product_Code_Type" type="string" nillable="true"/>
	<element name="Serving_Suggestions" type="string" nillable="true"/>
	<element name="USF_Dangerous_Goods_Code" type="string" nillable="true"/>
	<element name="Headquarters_Family_Group" type="string" nillable="true"/>
	<element name="PIM_Group_ID" type="string" nillable="true"/>
	<element name="PIM_Group_Description" type="string" nillable="true"/>
	<element name="Manufacturer_Number" type="string" nillable="true"/>
	<element name="Shelf_Life_UOM" type="string" nillable="true"/>
	<element name="Product_Status" type="string" nillable="true"/>
	<element name="Product_Segmentation_Level_One" type="string" nillable="true"/>
	<element name="Product_Segmentation_Level_Two" type="string" nillable="true"/>
	<element name="Product_Segmentation_Level_Three" type="string" nillable="true"/>
	<element name="Product_Segmentation_Effective_Date" type="string" nillable="true"/>
	<element name="Quantity_Of_Portions" type="string" nillable="true"/>
	<element name="Quantity_Of_Portions_UOM" type="string" nillable="true"/>
	<element name="Calories_UOM" type="string" nillable="true"/>
	<element name="Calories_RDV_Percentage" type="string" nillable="true"/>
	<element name="Carbohydrates_UOM" type="string" nillable="true"/>
	<element name="Carbohydrates_RDV_Percentage" type="string" nillable="true"/>
	<element name="Quantity_Of_Protein" type="string" nillable="true"/>
	<element name="Protein_RDV_Percentage" type="string" nillable="true"/>
	<element name="Total_Fat_UOM" type="string" nillable="true"/>
	<element name="Total_Fat_RDV_Percentage" type="string" nillable="true"/>
	<element name="Saturated_Fat_UOM" type="string" nillable="true"/>
	<element name="Saturated_Fat_RDV_Percentage" type="string" nillable="true"/>
	<element name="Cholesterol_UOM" type="string" nillable="true"/>
	<element name="Cholesterol_RDV_Percentage" type="string" nillable="true"/>
	<element name="Dietary_Fiber_UOM" type="string" nillable="true"/>
	<element name="Dietary_Fiber_RDV_Percentage" type="string" nillable="true"/>
	<element name="Calcium_UOM" type="string" nillable="true"/>
	<element name="Calcium_RDV_Percentage" type="string" nillable="true"/>
	<element name="Iron_UOM" type="string" nillable="true"/>
	<element name="Iron_RDV_Percentage" type="string" nillable="true"/>
	<element name="Sodium_UOM" type="string" nillable="true"/>
	<element name="Sodium_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vendor_Discontinued_Date" type="string" nillable="true"/>
	<element name="Quantity_Of_Second_Level_Inner_Pack" type="string" nillable="true"/>
	<element name="Hazardous_Goods_Sub_Class" type="string" nillable="true"/>
	<element name="Ground_Transportation_Hazard_Code" type="string" nillable="true"/>
	<element name="Hazardous_Reportable_Quantity_Indicator" type="string" nillable="true"/>
	<element name="Hazardous_Class_Description" type="string" nillable="true"/>
	<element name="Attribute_Type_1" type="string" nillable="true"/>
	<element name="Attribute_Type_2" type="string" nillable="true"/>
	<element name="Attribute_Type_3" type="string" nillable="true"/>
	<element name="Attribute_Type_4" type="string" nillable="true"/>
	<element name="Attribute_Type_5" type="string" nillable="true"/>
	<element name="Attribute_Type_6" type="string" nillable="true"/>
	<element name="Attribute_Type_7" type="string" nillable="true"/>
	<element name="Attribute_Type_8" type="string" nillable="true"/>
	<element name="Attribute_Type_9" type="string" nillable="true"/>
	<element name="Attribute_Type_10" type="string" nillable="true"/>
	<element name="Attribute_Value_Add_Type_1" type="string" nillable="true"/>
	<element name="Attribute_Value_Add_Type_2" type="string" nillable="true"/>
	<element name="Attribute_Value_1" type="string" nillable="true"/>
	<element name="Attribute_Value_2" type="string" nillable="true"/>
	<element name="Attribute_Value_3" type="string" nillable="true"/>
	<element name="Attribute_Value_4" type="string" nillable="true"/>
	<element name="Attribute_Value_5" type="string" nillable="true"/>
	<element name="Attribute_Value_6" type="string" nillable="true"/>
	<element name="Attribute_Value_7" type="string" nillable="true"/>
	<element name="Attribute_Value_8" type="string" nillable="true"/>
	<element name="Attribute_Value_9" type="string" nillable="true"/>
	<element name="Attribute_Value_10" type="string" nillable="true"/>
	<element name="Attribute_Value_Add_Value_1" type="string" nillable="true"/>
	<element name="Attribute_Value_Add_Value_2" type="string" nillable="true"/>
	<element name="Beef_Grade" type="string" nillable="true"/>
	<element name="PIM_Group_Keywords" type="string" nillable="true"/>
	<element name="PIM_Super_Class_ID" type="string" nillable="true"/>
	<element name="Inner_Pack_Quantity" type="string" nillable="true"/>
	<element name="Master_Pack_Quantity" type="string" nillable="true"/>
	<element name="USF_Net_Content" type="string" nillable="true"/>
	<element name="Bill_Of_Lading_Code" type="string" nillable="true"/>
	<element name="Star_Category_Major" type="string" nillable="true"/>
	<element name="Star_Category_Intermediate" type="string" nillable="true"/>
	<element name="PIM_Category_ID" type="string" nillable="true"/>
	<element name="PIM_Class_ID" type="string" nillable="true"/>
	<element name="Derived_ASYS_Brand_Name" type="string" nillable="true"/>
	<element name="Derived_PSYS_Brand_Name" type="string" nillable="true"/>
	<element name="Picture_Path" type="string" nillable="true"/>
	<element name="Child_Nutrition_Certification" type="string" nillable="true"/>
	<element name="Child_Nutrition_Certification_Number" type="string" nillable="true"/>
	<element name="Kosher_Certification_Number" type="string" nillable="true"/>
	<element name="Manufacturer_Minority_Code_Description" type="string" nillable="true"/>
	<element name="Manufacturer_Minority_Code" type="string" nillable="true"/>
	<element name="Vendor_Ethnicity_Code" type="string" nillable="true"/>
	<element name="Vendor_Small_Business_Indicator" type="string" nillable="true"/>
	<element name="Case_Image" type="string" nillable="true"/>
	<element name="Child_Nutrition_Certificate" type="string" nillable="true"/>
	<element name="Composite_Image" type="string" nillable="true"/>
	<element name="Item_Image" type="string" nillable="true"/>
	<element name="Kosher_Certificate" type="string" nillable="true"/>
	<element name="Material_Safety_Data_Sheet" type="string" nillable="true"/>
	<element name="Meat_Buyers_Guide_Number" type="string" nillable="true"/>
	<element name="Spec_Sheet" type="string" nillable="true"/>
	<element name="Nutritional_Update_Date" type="string" nillable="true"/>
	<element name="Certified_Angus_Beef_CAB" type="string" nillable="true"/>
	<element name="Hazmat_Questioner" type="string" nillable="true"/>
	<element name="Calories_from_fat" type="string" nillable="true"/>
	<element name="Footnote_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_C_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_A_RDV_Percentage" type="string" nillable="true"/>
	<element name="Serving_size" type="string" nillable="true"/>
	<element name="Serving_size_type" type="string" nillable="true"/>
	<element name="Trans_fat_UOM" type="string" nillable="true"/>
	<element name="Trans_fatty_acids" type="string" nillable="true"/>
	<element name="Vitamin_C_UOM" type="string" nillable="true"/>
	<element name="Vitamin_A_IU_UOM" type="string" nillable="true"/>
	<element name="Vitamin_C_Quantity" type="string" nillable="true"/>
	<element name="Vitamin_A_IU" type="string" nillable="true"/>
	<element name="Folate" type="string" nillable="true"/>
	<element name="Folate_UOM" type="string" nillable="true"/>
	<element name="Insoluble_Fiber_UOM" type="string" nillable="true"/>
	<element name="Insoluble_Fiber" type="string" nillable="true"/>
	<element name="Phosphorous" type="string" nillable="true"/>
	<element name="Phosphorous_UOM" type="string" nillable="true"/>
	<element name="Polyunsaturated_Fat_UOM" type="string" nillable="true"/>
	<element name="Polyunsaturated_Fat" type="string" nillable="true"/>
	<element name="Soluble_Fiber_UOM" type="string" nillable="true"/>
	<element name="Soluble_Fiber" type="string" nillable="true"/>
	<element name="Sugar_Alcohol" type="string" nillable="true"/>
	<element name="Vitamin_D_UOM" type="string" nillable="true"/>
	<element name="Vitamin_D" type="string" nillable="true"/>
	<element name="Alcohol" type="string" nillable="true"/>
	<element name="Alcohol_UOM" type="string" nillable="true"/>
	<element name="Ash" type="string" nillable="true"/>
	<element name="Ash_UOM" type="string" nillable="true"/>
	<element name="Approved_Manufacturers" type="string" nillable="true"/>
	<element name="Biotin" type="string" nillable="true"/>
	<element name="Biotin_UOM" type="string" nillable="true"/>
	<element name="Calories_Fat_UOM" type="string" nillable="true"/>
	<element name="USA_Est_Id_Num" type="string" nillable="true"/>
	<element name="Copper" type="string" nillable="true"/>
	<element name="Copper_UOM" type="string" nillable="true"/>
	<element name="Edible_Percent" type="string" nillable="true"/>
	<element name="Energy" type="string" nillable="true"/>
	<element name="Energy_UOM" type="string" nillable="true"/>
	<element name="Iodine" type="string" nillable="true"/>
	<element name="Iodine_UOM" type="string" nillable="true"/>
	<element name="Juicepct" type="string" nillable="true"/>
	<element name="Kosherorganization" type="string" nillable="true"/>
	<element name="Magnesium" type="string" nillable="true"/>
	<element name="Pantothenic_Acid_UOM" type="string" nillable="true"/>
	<element name="Moisture_Loss" type="string" nillable="true"/>
	<element name="Niacin" type="string" nillable="true"/>
	<element name="Niacin_Equivalent" type="string" nillable="true"/>
	<element name="Niacin_Equivalent_UOM" type="string" nillable="true"/>
	<element name="Niacin_UOM" type="string" nillable="true"/>
	<element name="Omega_3_Acids" type="string" nillable="true"/>
	<element name="Omega_6_Acids" type="string" nillable="true"/>
	<element name="Omega_3_UOM" type="string" nillable="true"/>
	<element name="Omega_6_UOM" type="string" nillable="true"/>
	<element name="Organic_Acids" type="string" nillable="true"/>
	<element name="Organic_Acids_UOM" type="string" nillable="true"/>
	<element name="Pantothenic_Acid" type="string" nillable="true"/>
	<element name="Potassium" type="string" nillable="true"/>
	<element name="Potassium_UOM" type="string" nillable="true"/>
	<element name="Retherm" type="string" nillable="true"/>
	<element name="Riboflavin" type="string" nillable="true"/>
	<element name="Riboflavin_UOM" type="string" nillable="true"/>
	<element name="Serving_size_UOM" type="string" nillable="true"/>
	<element name="Thiamin" type="string" nillable="true"/>
	<element name="Thiamin_UOM" type="string" nillable="true"/>
	<element name="Total_Sugar_UOM" type="string" nillable="true"/>
	<element name="Total_Sugar" type="string" nillable="true"/>
	<element name="Vitamin_E_UOM" type="string" nillable="true"/>
	<element name="Vitamin_K_UOM" type="string" nillable="true"/>
	<element name="Vitamin_B12_UOM" type="string" nillable="true"/>
	<element name="Vitamin_B6_UOM" type="string" nillable="true"/>
	<element name="Vitamin_Beta_Carotene" type="string" nillable="true"/>
	<element name="Vitamin_A_RE" type="string" nillable="true"/>
	<element name="Vitamin_Beta_Carotene_UOM" type="string" nillable="true"/>
	<element name="Vitamin_B12" type="string" nillable="true"/>
	<element name="Vitamin_B6" type="string" nillable="true"/>
	<element name="Vitamin_E" type="string" nillable="true"/>
	<element name="Vitamin_K" type="string" nillable="true"/>
	<element name="Water" type="string" nillable="true"/>
	<element name="Water_Pct" type="string" nillable="true"/>
	<element name="Water_UOM" type="string" nillable="true"/>
	<element name="Weight_Density" type="string" nillable="true"/>
	<element name="Zinc" type="string" nillable="true"/>
	<element name="Zinc_UOM" type="string" nillable="true"/>
	<element name="Last_update_date" type="string" nillable="true"/>
	<element name="Product_update_Indicator" type="string" nillable="true"/>
	<element name="Trans_Fat_Free_Indicator" type="string" nillable="true"/>
	<element name="Magnesium_UOM" type="string" nillable="true"/>
	<element name="Brand_Type" type="string" nillable="true"/>
	<element name="Replaced_By" type="string" nillable="true"/>
	<element name="Insoluble_Fiber_RDV_Percentage" type="string" nillable="true"/>
	<element name="Polyunsaturated_Fat_RDV_Percentage" type="string" nillable="true"/>
	<element name="Potassium_RDV_Percentage" type="string" nillable="true"/>
	<element name="Soluble_Fiber_RDV_Percentage" type="string" nillable="true"/>
	<element name="Sugar_Alcohol_RDV_Percentage" type="string" nillable="true"/>
	<element name="Total_Sugar_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_D_RDV_Percentage" type="string" nillable="true"/>
	<element name="Phosphorous_RDV_Percentage" type="string" nillable="true"/>
	<element name="Biotin_RDV_Percentage" type="string" nillable="true"/>
	<element name="Copper_RDV_Percentage" type="string" nillable="true"/>
	<element name="Iodine_RDV_Percentage" type="string" nillable="true"/>
	<element name="Magnesium_RDV_Percentage" type="string" nillable="true"/>
	<element name="Monunsaturated_Fat_RDV_Percentage" type="string" nillable="true"/>
	<element name="Niacin_RDV_Percentage" type="string" nillable="true"/>
	<element name="Pantothenic_RDV_Percentage" type="string" nillable="true"/>
	<element name="Riboflavin_RDV_Percentage" type="string" nillable="true"/>
	<element name="Thiamin_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_B12_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_B6_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_E_RDV_Percentage" type="string" nillable="true"/>
	<element name="Vitamin_K_RDV_Percentage" type="string" nillable="true"/>
	<element name="Zinc_RDV_Percentage" type="string" nillable="true"/>
	<element name="Folate_RDV_Percentage" type="string" nillable="true"/>
	<element name="Recommended_Serving_Size_UOM" type="string" nillable="true"/>
	<element name="Carbohydrates_Other" type="string" nillable="true"/>
	<element name="Carbohydrates_Other_RDV_Percentage" type="string" nillable="true"/>
	<element name="Protein_UOM" type="string" nillable="true"/>
	<element name="Iron" type="string" nillable="true"/>
	<element name="Protein" type="string" nillable="true"/>
	<element name="Saturated_Fat" type="string" nillable="true"/>
	<element name="Sodium" type="string" nillable="true"/>
	<element name="Total_Fat" type="string" nillable="true"/>
	<element name="Servings_Per_Trade_Item" type="string" nillable="true"/>
	<element name="Carbohydrates_Other_UOM" type="string" nillable="true"/>
	<element name="Monunsaturated_Fat_UOM" type="string" nillable="true"/>
	<element name="Monunsaturated_Fat" type="string" nillable="true"/>
	<element name="Sugar_Alcohol_UOM" type="string" nillable="true"/>
	<element name="Marketing_Image" type="string" nillable="true"/>
	<element name="Calcium" type="string" nillable="true"/>
	<element name="Calories" type="string" nillable="true"/>
	<element name="Carbohydrates" type="string" nillable="true"/>
	<element name="Cholesterol" type="string" nillable="true"/>
	<element name="Dietary_Fiber" type="string" nillable="true"/>
	<element name="Replacement_USF_Product_Number" type="string" nillable="true"/>
	<element name="Psys_Product_Category" type="string" nillable="true"/>
	<element name="Organic" type="string" nillable="true"/>
	<element name="Sustainability" type="string" nillable="true"/>
	<element name="Storage_Code_Description" type="string" nillable="true"/>
	<element name="Modification_Type" type="string" nillable="true"/>
	<element name="Cash_and_Carry_Eligible" type="string" nillable="true"/>
	<element name="Retail_UPC" type="string" nillable="true"/>
</schema>
