src/main/resources/schemas/tibco/ePIM_XREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:pim-xref="urn:pim-xref" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:pim-xref" elementFormDefault="qualified">
	<xsd:element name="pim_xref">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="spc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gtin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gln" type="xsd:string" minOccurs="0"/>
				<xsd:element name="c_code" type="xsd:string" minOccurs="0"/>
				<xsd:element name="item_id" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="pim-xref:pim_ref" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="created_by" type="xsd:string" minOccurs="0"/>
				<xsd:element name="updated_by" type="xsd:string" minOccurs="0"/>
				<xsd:element name="create_date" type="xsd:string" minOccurs="0"/>
				<xsd:element name="update_date" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status_code" type="xsd:boolean"/>
				<xsd:element name="status_desc" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="mf_xref">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="a_id" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mf_ref" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="p_id" type="xsd:string" minOccurs="0"/>
							<xsd:element name="rel_type" type="xsd:string" minOccurs="0"/>
							<xsd:element name="conv_fctr" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="disp_xref">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="spc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gtin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gln" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tmcc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="aprm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="apstat" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pprm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ppstat" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ref" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="anum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="pnum" type="xsd:string" minOccurs="0"/>
							<xsd:element name="astat" type="xsd:string" minOccurs="0"/>
							<xsd:element name="pstat" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lookup_req">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="spc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gtin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anum" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pnum" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lookup_resp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:boolean"/>
				<xsd:element name="status_descr" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="pim-xref:pim_xref" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pim_ref">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="mainframe_id" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ndg_flag" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="rel_type" type="xsd:string" minOccurs="0"/>
				<xsd:element name="conv_fctr" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="ref_status" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
